# dependencies (bun install)
/node_modules
/backend/node_modules
/frontend/node_modules
/frontend/dist
# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
*.log
.DS_Store
Thumbs.dbs

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env
/backend/.env
# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
.idea/
.vscode/